* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Darker Grotesque" !important;
}

body {
    min-height: 100%;
}


/*--------------- navigation --------------- */

.wrapper {
    display: block;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

nav {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #bbb;
}

nav #brand {
    float: left;
    display: block;
    margin-left: 40px;
    line-height: 80px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

nav #brand a {
    color: rgb(253, 253, 253);
    font-family: Poppins !important;
    text-decoration: none;
}

.logo img {
    vertical-align: middle;
}

nav #brand a:hover {
    text-decoration: none;
    color: rgba(184, 140, 93);
}

nav .menu {
    float: left;
    right: 40px;
    position: fixed;
}

nav .menu {
    margin: 0 30px 0 0;
}

nav .menu a {
    font: 18px "Lato", sans-serif;
    clear: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    line-height: 70px;
}

nav .menu a:hover {
    color: rgba(184, 140, 93);
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media (max-width: 981px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        border: 80px solid transparent;
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid rgb(0, 0, 0);
        margin: 0;
        background-color: rgba(184, 140, 93);
    }
    nav .menu a:hover {
        color: rgba(0, 0, 0, 0.829);
    }
    #toggle:checked+.menu {
        display: block;
    }
}


/* Responsive nav #brand (logo et titre du site)*/

@media (max-width: 768px) {
    #logo {
        width: 55px;
        height: auto;
    }
    #lien_index {
        font-size: 15px;
    }
}


/*TITRE*/

.test-section {
    padding: 50px;
    padding-top: 100px;
    text-align: center;
    background-image: url("images/image_test.jpg");
    background-size: cover;
    color: white;
}

#titre_test {
    color: rgb(184, 140, 93);
    font: 40px "Lato", sans-serif;
    background-color: rgba(233, 230, 230, 0.726);
}


/*--------------- article preview  --------------- */

.conteneur-flexible {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    background-color: white;
}

.element-flexible {
    flex: 1;
    width: 90%;
    box-sizing: border-box;
}

.element-flexible p {
    font: 18px "Lato", sans-serif;
}

.picture-right {
    float: left;
}

.element-flexible img {
    vertical-align: middle;
}

section h2 {
    top: 4px;
    color: cornsilk;
    font-size: 18px;
}

.scroll_image {
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.scroll_text .text_container {
    padding-top: 60px;
    padding-bottom: 90px;
}

.text_container h1 {
    font: 40px "Lato", sans-serif;
    padding-bottom: 30px;
}

.text_container p {
    font: 400 18px/1.8 "Lato", sans-serif;
    padding-bottom: 8px;
}

#test_coeur {
    background-image: url("images/test_coeur.jpg");
}

.scroll_text {
    flex: 1 1 50px;
    width: 90%;
    box-sizing: border-box;
    height: 100%;
    font-size: 18px;
}


/* Responsive */

@media (max-width: 640px) {
    body {
        min-height: 0;
    }
    .wrapper {
        flex-direction: column;
    }
    .content {
        flex-basis: auto;
    }
}


/*--------------- footer  --------------- */

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    position: relative;
    margin-bottom: 0%;
    flex: 1;
    text-align: center;
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgba(184, 140, 93);
}

.footer_column_title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 22px;
    padding-bottom: 10px;
}

.footer_main {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
}

.footer_column {
    padding: 20px;
    min-width: 200px;
}

.footer_column p {
    font: 20px "Lato", sans-serif;
    color: rgba(184, 140, 93);
}

@media (min-width: 477px) {
    .footer_main {
        justify-content: space-around;
    }
}

@media (min-width: 1240px) {
    .footer_main {
        justify-content: space-evenly;
    }
}

.footer_media {
    padding: 0 30px 20px;
}

.footer_media-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 20px;
}

.footer_media-list {
    margin: 8px;
    font-size: 20px;
}


/* hbdebhebrerbfjkergjreg*/

form div {
    display: inline-flex;
    margin: 5px;
}

input,
select {
    display: flex;
    flex: 1;
    padding: 3px;
    margin: 3px
}


/*l'élément * influe sur la totalité de la page*/

button {
    background: none;
    border: .3pt solid rgba(184, 140, 93, 0.7);
    text-transform: uppercase !important;
    font-size: 12px !important;
    letter-spacing: 2px;
    padding: 18px 36px;
    text-transform: uppercase;
}

input {
    border: none;
}

button:hover {
    background-color: rgba(184, 140, 93, 0.7);
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid #aaa;
    margin: 6px;
    padding: 6px;
}

form,
main {
    padding: 90px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    overflow-x: auto;
}

form div.inputs {
    flex: 1 200px;
}

input:valid {
    border-bottom: solid 2px gray;
}

input:invalid {
    border-bottom: 2px solid red;
    caret-color: red;
}